<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	{% load staticfiles %}
	<link rel="stylesheet" 
		href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" 
		integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" 
		crossorigin="anonymous">
	<!-- <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" 
		integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" 
		crossorigin="anonymous">
	</script> -->
	<!-- <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" 
		integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" 
		crossorigin="anonymous">
	</script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" 
		integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" 
		crossorigin="anonymous">
	</script> -->
	<link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,800" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="{% static 'home/main.css' %}">
	<title>Matt Kong - www.mattkong.com</title>
	<link rel="shortcut icon" type="image/png" href="{% static 'images/favicon.ico' %}"/>
</head>

<body>
	<nav class="navbar justify-content-center stick-top navbar-expand-lg stroke home">
		<ul>
			<li>
				<a class="nav-item" href="{% url 'home:index' %}">Home</a>
			</li>
			<li>
				<a class="nav-item">Projects</a>
			</li>
			<li>
				<a class="nav-item">Music</a>
			</li>
			<li id="contact">
				<a class="nav-item">Contact</a>
			</li>
		</ul>
	</nav>

	<!-- TODO: Change img src to dark images on hover with JS. !-->
	<nav class="navbar fixed-left fixed-bottom social">
		<ul>
			<li>
				<a class="nav-item" href="https://www.facebook.com/matt.kong2" target="_blank">
					<img class="social" src="{% static 'images/facebook_light.png' %}" id="facebook">
				</a>
			</li>
			<li>
				<a class="nav-item" href="https://www.instagram.com/mat_kong/" target="_blank">
					<img class="social" src="{% static 'images/instagram_light.png' %}" id="instagram">
				</a>
			</li>
			<li>
				<a class="nav-item" href="https://www.github.com/mkong8" target="_blank">
					<img class="social" src="{% static 'images/github_light.png' %}" id="github">
				</a>
			</li>
			<li>
				<a class="nav-item" href="https://www.youtube.com/channel/UCnDpGh9GcAbh4DANwKNo4BA?view_as=subscriber" target="_blank">
					<img class="social" src="{% static 'images/youtube_light.png' %}" id="youtube">
				</a>
			</li>
			<li>
				<a class="nav-item" href="https://www.linkedin.com/in/mattkong8/" target="_blank">
					<img class="social" src="{% static 'images/linkedin_light.png' %}" id="linkedin">
				</a>
			</li>
		</ul>
	</nav>

	<div class="container intro">
	  <h1>MATT KONG</h1>
	  <hr>
	  <br>
	  <p>Welcome to my life!</p>
	  <p>Take a look around, check out my projects, listen to my music.</p>
	</div>

	<!-- TODO: Animate the down arrow on hover. !-->
	<div class="container read-more">
		<a href="#more">READ MORE ABOUT ME</a>
		<br>
		<a href="#more">
			<img class="arrow" src="{% static 'images/double_down_light.png' %}" id=doubledown>
		</a>
	</div>

	<div class="container-fluid more" id="more">
		<div class="container-fluid about-me">
			<h1>ABOUT ME</h1>
			<hr>
			<br>
			<p>I'm currently a student at the University of Michigan studying the wonders of computers. Almost all of my computer-related knowledge comes from academia and past work experience, but I've never had to time to ping my curiosity and experiment with these tools I've picked up. I'm at a point as an engineer where I'm trying to navigate the endless world of software and pinpoint the topics that peak my interest. I've decided to push aside the excuses and distractions to get a start on figuring out what I want to spend my time researching and building, so stay tuned for pending projects.</p>
			<br>
			<p>AFK, I'm a fool for music. I dabble with the fine art of guitar and vocals - check out some of my music too!</p>
		</div>
	</div>

</body>

</html>