body {
	background: url("/static/images/background-mts.jpg");
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	padding: 100px 100px 0; /* top right/left bottom */
}

.container {
	background-color: white;
}

.navbar {
	position: relative;
}