body {
	background: url("/static/images/background-mts.jpg");
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	padding: 100px 100px 0; /* top right/left bottom */
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
